.footer-custom {
  background-image: url("/public/img/aerial-shot-sea-waves-hitting-sandy-shore.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  position: relative;
  z-index: 1;
}

.footer-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 40, 60, 0.323); /* enyhe kékes sötétítés */
  z-index: -1;
}

/* Hover effektek */
.hover-szin a {
  transition: color 0.3s ease;
}
.hover-szin a:hover {
  color: #7fffd4 !important; /* aquamarine */
}
.hover-szin a i {
  transition: color 0.3s ease !important;
}
.hover-szin a:hover i {
  color: #7fffd4 !important;
}
