.footer-custom {
  background: linear-gradient(
    135deg,
    #1a3c57 0%,
    #244e6b 50%,
    #7bc96f 100%
  );

  color: rgba(255, 255, 255, 0.9);
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.footer-custom h5,
.footer-custom h6 {
  color: #ffffff;
  font-weight: 600;
}


.footer-custom a {
  color: rgba(255, 255, 255, 0.85);
  transition: color 0.3s ease;
}

.footer-custom a:hover {
  color: #ffffff;
}
.sites li:hover{
  transform: scale(1.1);
}
