body {
  background-color: #f0f6fb;
  color: #2c3e50;
}

.rolunk-hero {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#foldgomb {
  background: none ;
  box-shadow: none ;
  border-radius: 0;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.15));
  transition: transform 0.2s ease;
}

#foldgomb:hover {
  transform: scale(1.1);
}

.text-block {
  margin-bottom: 20px;
  padding: 20px 16px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 0.95rem;
  color: #fff;
  text-align: left;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.text-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.text-block.blue {
  background: linear-gradient(135deg, darkcyan);
}

.text-block.green {
  background: linear-gradient(135deg, #7dbf7d);
}

.text-block.brown {
  background: linear-gradient(135deg, #a87c5c);
}

.text-block p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}


.leaflet-popup-content {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.leaflet-popup-content b {
  color: #2c3e50;
}

.leaflet-popup-content i {
  color: #555;
}

.eco-popup .leaflet-popup-content-wrapper {
  background: #e8fce8;
  border: 2px solid #3ba94d;
}


.team-card {
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card img {
  width: 100%;
  max-width: 155px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 3px solid  #2c3e50;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-card p {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  margin-top: 10px;
}

.team-card:hover p {
  display: block;
  opacity: 1;
}


.adventure-img-hover {
  transition: transform 0.2s ease;
}

.adventure-img-hover:hover {
  transform: scale(1.06);
}


@media (max-width: 768px) {
  .rolunk-hero h1 {
    font-size: 2rem;
  }
}
