body {
  background-color: #f0f6fb;
  color: #2c3e50;
}

/* Kép és layout */
.w-100 {
  width: 100%;
}

.rounded {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* Cím és elválasztó */
h2 {
  font-weight: 600;
}

.border-bottom {
  border-bottom: 3px solid #6daedb !important;
}

/* Lista */
ul {
  padding-left: 20px;
}

/* Form input mezők */
.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
}

.form-label {
  font-weight: 500;
  margin-bottom: 4px;
}

/* Gombok */
.btn-primary,
.btn.btn-primary.btn-lg {
  background-color: #6daedb;
  border-color: #6daedb;
  transition: 0.3s all;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn.btn-primary.btn-lg:focus {
  background-color: #1a3c57 !important;
  border-color: #1a3c57 !important;
}

.btn-primary:hover,
.btn.btn-primary.btn-lg:hover {
  transform: scale(1.1);
}

.btn.btn-primary.btn-lg {
  background-color: darkcyan !important;
  border-color: darkcyan !important;
  transition: transform 0.4s ease, background-color 0.3s ease, box-shadow 0.4s ease;
}

.btn.btn-primary.btn-lg:hover {
  transform: scale(1.12);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.btn.btn-primary.btn-lg:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image-slider {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 46px;
  height: 46px;
  border-radius: 50%;

  border: none;
  background: rgba(0, 0, 0, 0.55);
  color: white;

  font-size: 22px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease;
}

.slider-btn.left {
  left: 12px;
}

.slider-btn.right {
  right: 12px;
}

.slider-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%) scale(1.1);
}
